.idea/
.DS_Store
.vscode
sam-sandbox/src/handlers/sandbox
sam-sandbox/deploy-output.yml
alexa-sandbox/src/handlers/node_modules
alexa-sandbox/template-output.yml
slack-delete-channel-history/src/handlers/myvenv
sam-app
